@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    background: var(--tertiaryshade);
    padding: 0;
    margin: 0;
    transition: all 0.2s;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons-outlined {
    font-size: 50px;
}

* {
    scroll-behavior: smooth;
    --primary: #d120f5;
    --secondary: rgb(32, 64, 151);
    --tertiary: rgb(255, 255, 255);
    --tertiaryshade: rgb(242, 245, 248);
    --nav: rgb(36, 36, 36);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*Content*/

.content {
    padding-bottom: 30px;
}

.landingparent {
    padding: 0 7.5%;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 55px);
    background-color: var(--tertiary);
    align-items: center;
    width: 85%;
    margin: auto;
}

@media all and (max-width: 800px) {
    .landingparent {
        flex-direction: column;
        padding-top: 85px;
        min-height: calc(100vh - 85px);
    }
}

.landingchild {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    transition: all 0.3s;
}

@media all and (max-width: 800px) {
    .landingchild {
        text-align: center;
    }
}

.landingchildleft {
    animation: fadeleft 0.9s, contentload 0.5s;
}

.landingTitle {
    margin: 5px 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
}

.landingheader {
    font-size: 48px;
    color: rgb(0, 0, 0);
    margin: auto;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 4px 3px;
}

.landingcontent {
    color: black;
    margin: 25px auto;
    font-size: 19px;
    line-height: 25px;
    font-weight: 100;
}

.landingimage {
    width: 75%;
    margin: 0 12.5%;
    animation: faderight 1.5s;
    position: relative;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.22) 0 12px 30px 0;
}

.landingchildcontainerparent {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 20px;
}

.landingchildcontainerchild {
    width: fit-content;
    margin: 10px;
    position: relative;
    animation: fadeup 2.2s;
}

.button {
    border: 0;
    outline: none;
    cursor: pointer;
    width: max-content;
    color: white;
    border-radius: 4px;
    background: var(--primary);
    padding: 12px 40px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0 8px 10px 0, rgba(0, 0, 0, 0) inset 0 0 1000px;
    display: block;
    text-decoration: none;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 16px 0, rgba(0, 0, 0, 0.15) inset 0 0 1000px;
}

.buttonalt {
    border: 0;
    outline: none;
    cursor: pointer;
    width: max-content;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    transition: all 0.3s;
    background: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.1) 0 8px 10px 0;
    display: block;
    text-decoration: none;
}

.buttonalt:hover {
    background: var(--nav);
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 16px 0;
}

.container1 {
    background: var(--tertiaryshade);
    color: white;
}

.container2 {
    background: var(--tertiary);
    color: white;
}

.flexparent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.cardparent {
    margin: 60px 0;
    padding: 10px;
    transition: all 0.3s;
    position: relative;
    top: 0;
    cursor: default;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--primary);
    color: white;
    text-decoration: none;
}

.cardparent:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 15px 0, rgba(0, 0, 0, 0) 0 3px 10px 0, inset rgba(0, 0, 0, 0.1) 0 0 0 10000px;
}

.cardparent:focus {
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 15px 0, rgba(0, 0, 0, 0.2) 0 3px 10px 0, inset rgba(0, 0, 0, 0.25) 0 0 0 10000px;
}

.cardparent:hover img {
    top: -5px;
    filter: brightness(80%);
    cursor: default;
}

.cardtitle {
    text-align: center;
    font-size: 22px;
}

.cardimage {
    width: 70%;
    margin: 0 15%;
    border-radius: 4px;
    transition: all 0.3s;
    position: relative;
    top: 0;
    transition: all 0.3s;
}

.header {
    text-align: center;
    color: black;
    margin: 0;
    padding-top: 60px;
    font-size: 36px;
}

.secondaryHeader {
    text-align: center;
    color: black;
    margin: 0;
    font-size: 30px;
}

.addContainer {
    background: white;
    padding: 20px 40px;
    margin: 30px auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0 4px 12px 0;
    border-radius: 4px;
}

.addHeader {
    margin: 0;
    margin-top: 10px;
}

.addParent {
    padding: 10px 0;
    display: flex;
    width: 100%;
}

.addCode {
    background: var(--tertiaryshade);
    padding: 8px;
    margin: 10px 0;
    margin-top: 20px;
    color: black;
    border-left: 2px solid var(--primary);
}

.addChild {
    margin: 15px;
    width: 100%;
}

.addDisplay {
    background: var(--tertiaryshade);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addDisplay:hover .displayBlock {
    box-shadow: inset rgba(0, 0, 0, 0.15) 0 0 0 10000px, rgba(0, 0, 0, 0.3) 0 3px 10px 0;
}

.displayBlock {
    margin: 40px 0;
    padding: 10px;
    transition: all 0.3s;
    cursor: default;
    background: white;
    box-shadow: inset rgba(0, 0, 0, 0) 0 0 0 10000px, rgba(0, 0, 0, 0.3) 0 3px 10px 0;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: white;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.3s;
    position: relative;
    top: 0;
}


/*FOOTER*/

.footer {
    --footerPrimary: rgb(53, 141, 255);
    --footerTertiary: rgb(40, 40, 53);
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 20px 5%;
    font-family: "poppins", sans-serif;
    background: var(--footerTertiary);
    justify-content: space-between;
}

.footerLeft {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: column;
}

.footerTopper {
    display: flex;
    height: fit-content;
    align-items: center;
}

.footerIcon {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: url("carsonIcon.png");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.footerHeader {
    margin: 0;
    font-size: 27px;
    text-transform: uppercase;
}

.footerCopyright {
    text-align: center;
}

.footerContentContainer {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    justify-content: center;
}

.footerContentChild {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.footerContentHeader {
    font-size: 21px;
    margin: 0;
    padding-bottom: 10px;
}

.footerContent {
    font-size: 16px;
    text-decoration: none;
    color: var(--footerPrimary);
    font-weight: 600;
    transition: all 0.3s;
    padding: 4px 0;
    width: fit-content;
}

.footerContent:hover {
    box-shadow: var(--footerPrimary) 0 2px 0 0;
}

.footerContent:focus {
    box-shadow: var(--footerPrimary) 0 2px 0 0;
    opacity: 0.8;
}

.footerContent:visited {
    box-shadow: var(--footerPrimary) 0 0 0 0;
    opacity: 0.7;
}